<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShopMe</title>
    <style>
        body, html {
            margin: 0;
            padding: 0;
            width: 100%;
        }
        body {
            font-family: sans-serif;
        }
        header {
            width: 80%;
            margin: auto;
            padding: 100px 0;
            text-align: center;
            line-height: 1rem;
        }
    </style>
</head>
<body>
    <header>
        <h4>{{warning}}</h4>
        <h2>{{header}}</h2>
        <p>{{message}}</p>        
    </header>
</body>
</html>